body
{
    font-family : Arial;
    font-size : 14px;
    background-color: #FDFDFD;
}

legend
{
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

button
{
    white-space: nowrap;
    height: 30px;
    width: 140px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    margin-bottom: 5px
}

button::-moz-focus-inner
{
    border: 0;
}

.rightAlign
{
    float: right;
}

.hidden
{
    display: none;
}

.transparent
{
    background-color: transparent;
    border: none;
}
