body
{
    margin: 0;
    padding: 0;
    background: white;
    overflow: hidden;
    visibility: hidden;
}

span
{
    pointer-events: none;
}

.contextmenu
{
    font-family : Sans-Serif;
    font-size : 14px;
}

.newNoteIconMenu
{
    background: url("../icons/addnote.svg");
}

.newSeparatorIconMenu
{
    background: url("../icons/addseparator.svg");
}

.deleteNoteIconMenu
{
    background: url("../icons/deletenote.svg");
}

.emptyTrashIconMenu
{
    background: url("../icons/emptytrash.svg");
}

.preferenceIconMenu
{
    background: url("../icons/preference.svg");
}

.helpIconMenu
{
    background: url("../icons/help.svg");
}

.newNoteIconMenu, .newSeparatorIconMenu, .deleteNoteIconMenu,
.emptyTrashIconMenu, .preferenceIconMenu, .helpIconMenu,
.aboutIconMenu
{
    position:relative;
    top: 2px;
    border: 0px;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
}

.hidden
{
    display: none;
}

.toolbar
{
    height: 30px;
    width: 100%;
    background:-moz-linear-gradient(#EDEFF6,#DEE2EF);
    padding-top: 4px;
}

.dragBar
{
     position:absolute;
     top: 30px;
     width: 6px;
     right: calc(70% + 3px);
     height: calc(100% - 30px);
     z-index:20;
     background-color: #B4B4B4;
     background:-moz-linear-gradient(left, #FFFFFF, #B4B4B4);
     cursor: col-resize;
     border: 0px;
}

.textArea
{
     position: absolute;
     top: 30px;
     right:0px;
     width: 70%;
     height: calc(100% - 32px);
     resize: none;
     background: white;
     overflow: auto;
     text-align: left;
     margin: 0px;
     z-index: 10;
     border: 1px solid #B4B4B4;
     font-family : Sans-Serif;
     font-size : 13px;
}


.taskList
{
    position: absolute;
    width: 100%;
    top: 33px;
    height: calc(100% - 34px);
    z-index: 0;
    border: 0px;
    font-family : Sans-Serif;
    -moz-user-select: none;
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: clip;
    white-space: nowrap;
}

.taskListTop
{
    position: absolute;
    width: 99%;
    top: 30px;
    height: 3px;
    z-index: 10;
    border: 0px;
    background-color: white;
    -moz-user-select: none;
    border: 0px solid white;
    margin: 0px;
    outline: none;
    cursor: default;
}

.taskItem
{
    position: absolute;
    left: 0px;
    height: 20px;
    width: 100%;
    border: 0px solid white;
    margin: 0px;
    outline: none;
    cursor: default;
}

.taskItemActive
{
    background: #E0ECFD;
}

.taskItemActiveFocusOut
{
    filter: grayscale(100%);
}

.taskItemInTrash
{
    left:20px;
    width: calc(100% - 20px);
}

.taskItem:-moz-drag-over, .taskListTop:-moz-drag-over
{
    border-bottom: 1px dashed #C0C0C0;
}

.taskSeparator
{
    position: absolute;
    top:2px;
    left: 0px;
    height: 16px;
    border: 0px;
    width:100%;
    background: url("../icons/separator.svg") repeat-x center;
    background-size: 16px 16px;
    pointer-events: none;
    opacity: 0.5;
}

.taskIcon
{
    position: absolute;
    top: 0px;
    left: 13px;
    width: 16px;
    height: 16px;
    border: 0px;
    background: url("../icons/note.svg");
    background-size: 16px 16px;
    pointer-events: none;
}

.taskText
{
    position: absolute;
    top:2px;
    left: 33px;
    height: 16px;
    border: 0px;
    vertical-align: middle;
    font-size : 13px;
}

.trashArrow
{
    position: absolute;
    top:6px;
    left: 2px;
    width: 9px;
    height: 9px;
    border: 0px;
    background: url("../icons/arrow-right.svg");
    pointer-events: none;
}

.rotate90deg
{
    transform: rotate(90deg);
}

.trashIcon
{
    position: absolute;
    top:2px;
    left: 12px;
    width: 16px;
    height: 16px;
    border: 0px;
    background: url("../icons/rubbish-bin.svg");
    background-size: 16px 16px;
    pointer-events: none;
}

.trashText
{
    position: absolute;
    top:2px;
    left: 33px;
    height: 16px;
    border: 0px;
    font-size : 13px;
    font-weight: bold;
}

.topIcon
{
    opacity: 1;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: default;
    -moz-user-select: none;
}

.topIcon:hover
{
    opacity: 0.3;
}
